[submodule "submodules/usage-monitoring-microservice"]
	path = submodules/usage-monitoring-microservice
	url = https://github.com/Me-AU/usage-monitoring-microservice
	branch = main
[submodule "submodules/FrontendMicroServ"]
	path = submodules/FrontendMicroServ
	url = https://github.com/Mr-H-Mehdi/FrontendMicroServ
	branch = main
[submodule "submodules/front-back-service"]
	path = submodules/front-back-service
	url = https://github.com/Shumailseecs21/front-back-service
	branch = main
[submodule "submodules/StorageManagementService"]
	path = submodules/StorageManagementService
	url = https://github.com/Nida-Naveed/StorageManagementService
	branch = master
[submodule "submodules/UserAccMgmtServ"]
	path = submodules/UserAccMgmtServ
	url = https://github.com/NavairaRehman/UserAccMgmtServ
	branch = master
